.book-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5rem;
}

.book-grid-item {
    width: 100%;
}

.book-content {
    width: min-content;
    margin: auto;
}

img {
    outline: black solid 1px;
    display: block;
    width: 12rem;
    height: auto;
}

.book-content > a {
    text-align: center;
    margin: 3%;
    font-weight:bold;
    display: block;
}

.book-content > div {
    width: max-content;
    margin: auto;
}

.filter-container {
    margin-bottom: 2rem;
}

.info-menu {
    display: none;
    align-items: start;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    margin-left: auto;
    outline: black 1px solid;
    background-color: #f0f0f0;
    margin-right: auto;
    width: 800px;
    height: 800px;
    position: absolute;
}

.info > span {
    font-weight: bold;
}

.info-image {
    display: block;
    height: auto;
    width: 20rem;
    margin: 6%;
}

.close-info-menu-button {
    width: 6%;
    height: 6%;
    background-color: #f0f0f0;
    font-size: 1.5rem;
    position: absolute;
    left: 94%;
}

.info-container {
    min-width: 175px;
    font-size: 1.2rem;
    padding: 16%;
}

.visible {
    display: flex;
}
